/*
- Mobile: 375px
- Desktop: 1440px
*/

@media screen and (min-width: 1024px) {
    body {
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }    
        .main-container {
            width: 60vw;
            height: 80vh;
            box-shadow: 0.5rem 0.5rem 3rem var(--Dark-GrayBlue);
            border-radius: 1.5rem;
        }

            .container-result {
                border-radius: 1rem;
                height: 50%;
            }

                .container-result__title {
                    font-size: 2rem;
                }

                .container-result__circle {
                    width: 44%;
                    height: 50%;

                }
                .container-result__subtitle {
                    font-size: 2rem;
                    padding-top: 1rem;
                }

                .container-result__text {
                    font-size: 1.5rem;
                }

                .container-summary__title {
                    text-align: center;
                    font-size: 2.5rem;
                }

                .container-summary__content {
                    width: 30rem;
                }

                .container__summary--flex {
                    font-size: 1.5rem;
                }
}

@media screen and (min-width: 1440px) {
    .main-container {
        width: 40vw;
        height: 55vh;
        flex-direction: row;
    }

    .container-result {
        border-radius: 1rem;
        height: 100%;
        width: 50%;
    }

        .container-result__title {
            font-size: 1.2rem;
            margin-top: 2rem;
        }

        .container-result__circle {
            width: 55%;
            height: 42%;
        }
        
        .container-result__subtitle {
            font-size: 2rem;
            padding-top: 1rem;
        }

        .container-result__text {
            font-size: 1rem;
            width: 55%;
            line-height: 1.5rem;
        }

    .container-summary {
        width: 50%;
        height: 100%;
    }
        .container-summary__title {
            text-align: start;
            font-size: 2rem;
        }

        .container-summary__content {
            width: 20rem;
        }

        .container__summary--flex {
            font-size: 1rem;
        }

        .content-anchor {
            padding: 1rem 8rem;
            margin-top: 1rem;
            font-size: 1.5rem;
        }

        .content-anchor:hover {
            background-color: var(--Light-royal-blue);
            border: 1px solid var(--Dark-GrayBlue);
        }
}